@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.sidebar {
    width: 280px;
}

h1, h2, h3, h4, h5, h6, a, p {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h5, h6, a, p {
    font-weight: 400;
}

:root {
    --colorOne: #2d2d2d;
    --colorTwo: #383838;
}

.central-vertical {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.about-me-section {
    width: 100%;
    padding: calc(5% + 30px) 0;
}

.about-me-section .img-head {
    position: relative;
    overflow: hidden;
}

.about-me-section .img-head img {
    width: 100%;
    transition: transform .3s;
}

.about-me-section .img-head:hover img {
    transform: scale(1.2);
}

.about-me-section .img-head::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .5;
}

.about-me-section .text-head {
    font-size: 28px;
    color: var(--colorTwo);
}

.about-me-section .break-small {
    width: 100%;
    height: 1px;
    background-color: var(--colorTwo);
}

.about-me-section .text-para {
    font-size: 16px;
    color: #444;
}